# Google App Engine generated folder
appengine-generated/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
*.egg-info/
dist/
build/
.eggs/

# SQLite database
*.db

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
